root { 
    display: block;
    
}
div[id=showConsole] {
    z-index: 2;
    bottom: 0;
}
div[id=consl] {

    width: 99%;
    bottom: 0;
    margin-left: 2%; 
}

#showConsole{
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #3a5996) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #3a5996 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#3a5996');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}#showConsole:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a5996), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #3a5996 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5996', endColorstr='#79bbff');
	background-color:#3a5996;
}#showConsole:active {
	position:relative;
	top:1px;
}

}