
/* Header */

#header-wrapper {
	overflow: hidden;
	height: 40px;
	background: #3A5896 repeat;

}

#header {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 310px;
	height: 40px;
	padding: 0px 0px 0px 40px;
}

#logo h1 {
	padding: 5px 0px 0px 0px;
	letter-spacing: -2px;
	font-size: 2.6em;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bolder;
	color: #222222;
}

h2 {
	font-size: 3em;
}

/* Menu */

#menu {
	float: right;
	width: 810px;
	height: 40px;
	padding: 8px 10px 0px 0px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 5px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {

	margin-left: 1px;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #DDDDDD;
	border-radius: 5px;
	color: #1f31bb;
}

/* Page where there are two canvases: the first one with plasm enviroment and the second one with the json image*/


#page-wrapper {
	width: 100%;
	height: 530px;
	float: left;}

	#page {
		width: 70%;
		margin: 0px auto;
		float: left;
		height: 99%;
		overflow: scroll;

	}

	/*CANVAS PLAMS*/ 

	#plasm{
		float: left;
		width: 98%;
		margin-left: 1%;
		margin-top: 1%;
		height:500px;
	}

	.container-fluid{

		margin-left: 1%;
		margin-top: 1%;
	}

	#div_framerate{

		margin-left: 0.5%;
		margin-top: 1%;
		margin-right: 1%;
	}

	#footer {
		background-color: #3A5896;
		text-align: center;
	} 

	#menu_container {
		width: 23%;
		margin: 10px;
		float: left;
		height: 99%;
	}

	#menu_button {
		width: 98%;
		margin: 10px;
		height: 50%;
		overflow: scroll;
	}

	#menu_button li button, 
	#button_next,
	#button_eval{
		height: 30px;
		width: 250px;
		background-color: #3A5896;
		border-radius: 10px;
		color: #FFF;

	}	

	#menu_button li button:link, #menu_button li button:visited{
		color: #666;
		display: block;
		padding: 10px 0 0 35px;


	}

	#menu_button li button:hover{
		opacity: .50;
		cursor: pointer;
	}

	#textarea_code{
		width: 60%;
	}

/*
	input#input_file {
		display: block;
		visibility: hidden;
		width: 0;
		height: 0;
	}
*/


/* about */

#weblar-container-about {
  top: 40px;
  width: 380px;
  left: 0px;
  right: 0px;
  /*line-height: 1;*/
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
}

#weblar-container-contact {
  top: 40px;
  width: 380px;
  left: 0px;
  right: 0px;
  /*line-height: 1;*/
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
}

.weblar-container {
  position: absolute;
  z-index: 1000;
  display: none;
  overflow: scroll;
  padding: 10px;
  background-color: rgba(128,128,128,0.2);
  box-shadow: 1px 1px 8px 1px #777;

}

.icon-close {
  width: 16px;
  height: 16px;
  background: url(./images/close.png) no-repeat;
  background-size: 100%;
}

#weblar-icon-close {
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 10px;

}

#weblar-icon-close:hover {
	position: absolute;
	background-size: 100%;
	top: 10px;
	right: 10px;
	cursor: pointer;
	opacity: .2;
}

.icon-contact-close {
  width: 16px;
  height: 16px;
  background: url(./images/close.png) no-repeat;
  background-size: 100%;
}


#weblar-icon-contact-close {
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 10px;

}

#weblar-icon-contact-close:hover {
	position: absolute;
	background-size: 100%;
	top: 10px;
	right: 10px;
	cursor: pointer;
	opacity: .2;
}
#weblar-copyright {
  margin-top: 20px;
}
